<!-- equipment_list.html -->

{% extends "main.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/equipmentList.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/top-panel.css' %}">
<img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo">

<!-- Include the navigation sidebar -->
{% include 'appOne/sidebar.html' %}


    <!-- Actions for search, filter, sort -->
    <!-- Main content -->
    <div class="main-content">
        <div class="header-actions">
        <h1>EQUIPMENT LISTS</h1>
        <div class="search-filter">
            <input type="text" id="searchEquipment" placeholder="Search for equipments...">
            <button onclick="filterSortFunction()">FILTER/SORT</button>
            {% if request.user.is_staff %}
                <a class="action-button" href="{% url 'equipment_add' %}">Add Equipment</a>
            {% endif %}
        </div>
    </div>

    <!-- List of equipment -->
    <div class="equipment-container">
        {% for equipment in equipment_list %}
            <div class="equipment-item">
                <div class="equipment-image">
                    <img src="{% static 'images/'|add:equipment.image %}" alt="{{ equipment.name }}">
                </div>
                <div class="equipment-details">
                    <h2>{{ equipment.name }}</h2>
                    <p>ID: {{ equipment.id }}</p>
                </div>
                <div class="equipment-actions">
                    {% if request.user.is_staff %}
                        <a class="edit-button" href="{% url 'equipment_edit' equipment.id %}">Edit</a>
                    {% else %}
                        <a class="view-button" href="{% url 'equipment_detail' equipment.id %}">View Details</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script src="{% static 'js/equipmentSearch.js' %}"></script>

{% endblock %}