


{% extends 'main.html' %}

{% block content %}
{% load static %}
{% include 'appOne/sidebar.html' %}


<body>style="background-color: purple; padding: 20px;">
    <h1 style="color: white;">User's Home Page</h1>
</body>

  
</body>style="padding: 20px;">
    <h2 style="color: black; font-weight: bold;">Home</h2>
    <a href="#" style="color: lightblue;">My Account</a><br>
    <a href="#" style="color: lightblue;">Equipment List</a><br>
    <a href="#" style="color: lightblue;">Help and Support</a><br>
    <a href="#" style="color: lightblue;">About Us</a><br>
    <a href="#" style="color: black;">Log out</a>
</body>




{% endblock content%}




