<!--Johan created-->
{% extends 'main.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/welcomepagecss.css' %}">

<div class="welcomepage-wrapper">
    <div class="welcomepage-left">
        <!-- The background image is set in the CSS, so no need for an img tag here -->
        <div class="welcome-overlay">
            <h1 class="welcome-message">Welcome to School Inventory</h1>
        </div>
    </div>
    <div class="welcomepage-right">
        <!-- buttons and links -->
        <a href="{% url 'login' %}" class="button">USER</a>
        <a href="{% url 'login' %}" class="button">ADMIN</a>
        <div class="account-contact-links">
        <p>Don't have an account? <a href="{% url 'register' %}">Click here</a></p>
        <p>Do you need any help? <a href="#">Contact us!</a></p>
    </div>
</div>
</div>

{% endblock %}
