<!--DJANGO-GROUP-PROJECT/appOne/tamplates/welcomePage-->

{% extends 'main.html' %}




{% block content %}
{% load static %}
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>

      <link rel="stylesheet" href="{%  static 'css/welcomepagecss.css'%}">
  </head>



  <body>


    <div class="welcomepage-container">

      <img src="" alt="">
      <div class="welcomepage-image">
        <img src="{% static "images/wlcSchoolInv.png" %}" alt="welcome to school inventory" width="500" height="600">
      </div>

      <div class="welcomepage-buttons">
        <button class="button2" type="button" name="button">User</button>
        <button class="button2" type="button" name="button">Admin</button>

        <p>Do you need any help?</p>
        <p>contact  <a href="{% url 'contact_us' %}">Us</a></p>
      </div>
    </div>





  </body>


  {% endblock content%}
