/* DJANGO-GROUP-PROJECT/appOne/static/css/equipmentList.css */

/* Content styles */
.content {
    margin-left: 250px; /* Space for sidebar */
    padding-top: 20px;
    background-color: #fcfcfc; /* Light background for content */
}

/* Admin action styles */
.admin-actions {
    text-align: right;
    padding: 0 20px;
    margin-bottom: 30px;
}

.action-button {
    padding: 10px 20px;
    background-color: #0563af; /* Primary button color */
    color: white; /* Text color for buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.action-button:hover {
    background-color: #045191; /* Darken button on hover */
}

/* Equipment list styles */
.equipment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px; /* Add padding if needed */
}

.equipment-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px); /* Three items per row with gap */
    margin-bottom: 20px;
}

.equipment-image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px; /* Match parent's border-radius */
    border-top-right-radius: 10px; /* Match parent's border-radius */
}

.equipment-details {
    padding: 15px;
    text-align: center; /* Center the text */
}

.edit-button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #f2f2f2; /* Light grey background for edit button */
    color: #333; /* Dark text for visibility */
    text-align: center; /* Center the text on the button */
    border-bottom-left-radius: 10px; /* Match parent's border-radius */
    border-bottom-right-radius: 10px; /* Match parent's border-radius */
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: #e2e2e2; /* Slightly darken button on hover */
}

@media screen and (max-width: 992px) {
    /* For tablets and below, we go for two items per row */
    .equipment-item {
        width: calc(50% - 20px); /* Two items per row with gap */
    }
}

@media screen and (max-width: 768px) {
    /* For mobile devices, we want a single column layout */
    .equipment-item {
        width: 100%; /* Full width items */
    }
}
