/* static/css/home.css */

/* Common styles for both user and admin home pages */
.home-content {
    background-color: #FFFDD0; /* Cream background color */
    padding: 20px;
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logout-button {
    background-color: #D9534F;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: #C9302C;
}

.home-options {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.user-option, .admin-option {
    display: block;
    background-color: #017BFE;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.user-option:hover, .admin-option:hover {
    background-color: #0056b3;
}

.logo {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 100px; /* Set the width to your preference */
    height: auto; /* Keep the height proportional */
    z-index: 1000; /* Keeps the logo on top */
  }
  @media screen and (max-width: 768px) {
    .logo {
      width: 80px; /* Smaller logo on mobile devices */
      /* Other styles remain the same */
    }
  }
  