.welcomepage-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.welcomepage-left {
  flex: 1; /* This will allow the left side to fill the space */
  background: url('../images/frontpage.jpg') no-repeat center center;
  background-size: cover; /* Cover the full area of the div */
  position: relative; /* For absolute positioning of the welcome message */
}

.welcome-overlay {
  position: absolute;
  top: 50%; /* Adjust this as needed to position over the notepad */
  left: 50%; /* Adjust this as needed to position over the notepad */
  transform: translate(-50%, -50%); /* Centers the overlay */
  padding: 1em;
  border-radius: 10px; /* Optional: if you want rounded corners */
}

.welcome-message {
  font-size: 100px; /* Adjust as needed for your design */
  text-align: center;
  color: #000; /* Text color */
  margin: 0;
}

.welcomepage-right {
  flex-basis: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  background-color: #ddd;
  margin-bottom: 10px;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 8px;
  text-align: center;
  display: block;
  width: auto; /* It will be as wide as its content plus padding */
  
}

.button:hover {
  background-color: #008CBA;
  color: white;
}
