<!DOCTYPE html>

{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static 'css/navbar.css'%}">

</head>
<body>

  <body>

    <nav class="navbar">
          <div class="nav-container">
              <div class="nav-logo">
                  <!-- Ensure you have the logo in your static files -->
              </div>
              <div class="nav-items">
                  <a href="{% url 'homepage' %}">Home</a>
                  <a href="{% url 'equipment_list' %}">Equipment List</a>
                      {% if user.is_staff %}
                          <a href="{% url 'admin_home' %}">Management</a>
                          <a href="">Reports</a>
                          <a href="" class="btn">Log Out</a>
                      {% else %}
                          <a href="{% url 'contact_us' %}">Contact Us</a>
                          <a href="">Help</a>
                          <a href="">About Us</a>
                          <a href={% url 'user_orders' %}>Your reservation</a>
                          <a href={% url 'view_cart' %}>Cart</a>
                          <a href="{% url 'logout' %}" class="btn">Log Out</a>
                      {% endif %}
              </div>
          </div>
      </nav>

    </body>
    </html>                             
